.Boxes {
font-weight: bold;
font-size: 20px;}

.numbers {
  display: inline-block;
  background-color: red;
  width: 70px;
  height: 30px;
  color: white;
  border: 2px solid black;
  text-align: center;
  padding-top: 5px;
}

.numbers:nth-child(even) {
  display: none;
 
}